body {
  background-color: #313131;
  color: white;
}

.container {
  display: flex;

  form {
    text-align: right;
  }

  .controls {
    padding: 20px;

    form > div {
      margin-bottom: 15px;
    }

    select {
      min-width: 10em;
    }

    label {
      display: flex;

      div:last-of-type {
        padding-left: 20px;
      }
    }
  }
}

.toolbox {
  display: flex;
  flex-direction: column;
  margin: 10px;
  row-gap: 5px;

  button {
    svg {
      stroke: black;
      stroke-width: 3;
      fill: none;
      stroke-linecap: round;
    }

    &.active svg {
      stroke: LightSkyBlue;
      fill: LightSkyBlue;
    }
  }
}

#svg {
  pointer-events: all;

  #svg rect {
    fill: LightSlateGray;
  }
}

#svg text {
  user-select: none;
}

.handle {
  text {
    user-select: none;
    font-size: 10px;
  }

  circle.control {
    fill: PaleTurquoise;
  }

  circle.start {
    fill: pink;
  }

  circle.end {
    fill: yellow;
  }

  circle:hover {
    fill: red;
  }

  circle:active {
    fill: orange;
  }
}

//guides
g.guide {
  &:hover {
    line {
      stroke: Plum;
      stroke-width: 1;
      stroke-opacity: 1;
    }
  }

  line {
    stroke: green;
    stroke-opacity: 0.6;
  }

  line.hover {
    stroke-width: 20;
    stroke: #fff1;
  }
}

g.measurement {
  line,
  polyline {
    stroke: LightSteelBlue;
    fill: LightSteelBlue;
    stroke-opacity: 0.6;
    &:hover {
      stroke-opacity: 1;
    }
  }

  text {
    fill: yellow;
  }
}

/*
.path {
    stroke: #fff0;
}

.path:hover {
    fill: red;
    stroke: green;
}
*/
