body {
  background-color: #313131;
  color: white;
}

.container {
  display: flex;

  form {
    text-align: right;
  }

  .controls {
    padding: 20px;

    form > div {
      margin-bottom: 15px;
    }
  }
  .controls label {
    display: flex;

    div:last-of-type {
      padding-left: 20px;
    }
  }
}

#svg {
  pointer-events: all;

  #svg rect {
    fill: LightSlateGray;
  }
}

#svg text {
  pointer-events: none;
}

.handle {
  // * {
  //     pointer-events: none;
  // }

  text {
    user-select: none;
  }

  circle.control {
    fill: white;
  }

  circle.start {
    fill: pink;
  }

  circle.end {
    fill: yellow;
  }

  circle:hover {
    fill: red;
  }

  circle:active {
    fill: orange;
  }
}

//guides
g.guide {
  &:hover {
    line {
      stroke: Plum;
      stroke-width: 1;
    }
  }

  line {
    stroke: green;
  }

  line.hover {
    stroke-width: 20;
    stroke: #fff1;
  }
}

g.measurement {
  line {
    stroke: LightSteelBlue;
  }

  text {
    fill: yellow;
  }
}

/*
.path {
    stroke: #fff0;
}

.path:hover {
    fill: red;
    stroke: green;
}
*/
